<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Stalker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css">
</head>
<body>

</body>
<footer class="footer">
	<div class="text-center">
		<p class="text-muted">
			Mailys AIROUCHE & Vincent KELLEHER & Amandine PALLAS & Kim SAVAROCHE & Theo VERMERSCH
		</p>
	</div>
</footer>
</html>